body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#parent{
    position: relative;
    top: 100px
}

#startBtn{
    width: 250px;
    height: 80px;
    border: 5px solid #ffee30;
    color: #ffee30;
    background-color: transparent;
    font-family: 'Hanson';
    font-size: 30px;
    position: absolute;
    top: 280px;
    left: 480px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    outline: none;
    box-shadow: inset 0 0 0 0 #ffee30;
    transition: ease-out 0.5s;
}

#intro{
    width: 310px;
    height: 80px;
    border: 5px solid #ffee30;
    color: #ffee30;
    background-color: transparent;
    font-family: 'Hanson';
    font-size: 30px;
    position: absolute;
    top: 400px;
    left: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    outline: none;
    box-shadow: inset 0 0 0 0 #ffee30;
    transition: ease-out 0.5s;
}

#sound {
    width: 250px;
    height: 80px;
    border: 5px solid #ffee30;
    color: #ffee30;
    background-color: transparent;
    font-family: 'Hanson';
    font-size: 25px;
    position: absolute;
    top: 520px;
    left: 480px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    outline: none;
    box-shadow: inset 0 0 0 0 #ffee30;
    transition: ease-out 0.5s;
}

#backBtn{
    width: 150px;
    height: 50px;
    border: 5px solid #ffee30;
    color: #ffee30;
    background-color: transparent;
    font-family: 'Hanson';
    font-size: 20px;
    position: absolute;
    top: 45px;
    left: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    outline: none;
    box-shadow: inset 0 0 0 0 #ffee30;
    transition: ease-out 0.5s;

}

#restartBtn {
    width: 310px;
    height: 80px;
    border: 5px solid #ffee30;
    color: #ffee30;
    background-color: transparent;
    font-family: 'Hanson';
    font-size: 30px;
    position: absolute;
    top: 500px;
    left: 750px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    outline: none;
    box-shadow: inset 0 0 0 0 #ffee30;
    transition: ease-out 0.5s;
}

#startBtn:hover {
    box-shadow: inset 250px 0 20px 0 #ffee30;
    cursor: pointer;
    color: black;
}

#intro:hover {
    box-shadow: inset 310px 0 20px 0 #ffee30;
    cursor: pointer;
    color: black;
}

#sound:hover {
    box-shadow: inset 250px 0 20px 0 #ffee30;
    cursor: pointer;
    color: black;
}

#backBtn:hover {
    box-shadow: inset 150px 0 20px 0 #ffee30;
    cursor: pointer;
    color: black;
}

#restartBtn:hover {
    box-shadow: inset 310px 0 20px 0 #ffee30;
    cursor: pointer;
    color: black;
}

